<div class="post">
<ion-item lines="none">
  <ion-avatar slot="start">
    <img src="/fotosgram/assets/avatars/av-1.png" />
  </ion-avatar>
  <ion-label> 
    <h3>
      Felipe
    </h3>
    <h5></h5>
  </ion-label>
</ion-item>

<ion-slides pager="true" >
  <ion-slide class="image-slide" [style]="background-image: url('/fotosgram/assets/perro-1.jpg')">
     
  </ion-slide>
</ion-slides>

<ion-item lines="none">
  <ion-icon slot="start" name="heart-empty"></ion-icon>
  <ion-icon slot="end" name="bookmark"></ion-icon>
</ion-item>

<ion-item lines="none">
  <ion-label text-wrap>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis beatae possimus reiciendis ex ipsam veniam non. Corporis eaque ex modi voluptates, magni esse natus vero illum deserunt quae voluptate distinctio!
  </ion-label>
</ion-item>
</div>